/*GLOBAL*/

/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);

 fontawesome
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.social-icons {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.social-icons li {
    display: inline-block;
    color:  #663399;
    margin-right:2%;
    font-size:2.0em;
    font-weight:bold;
    /*line-height:1.5em;*/
    /*left:2%;*/
}

img, embed, object, video {
    max-width: 100%;
}

body {
    color:  #663399;
    text-shadow: -1px 0 #87CEEB, 0 1px #87CEEB, 1px 0 #87CEEB, 0 -1px #87CEEB;
    background-image: url('../img/black-links.jpg');
    font-family: 'Risque', cursive;
}

header {
    height: 7vh;
    text-align: right;
    /*background: ##D84B2D;
    background: -webkit-linear-gradient( #000,#fff);
    background: -o-linear-gradient( #000,#fff);
    background: -moz-linear-gradient( #000,#fff);
    background: linear-gradient(to top, #000,#fff);*/
}

#main {
    text-align: center;
    /*margin: auto;*/
}

#hero-image {
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}