/*GLOBAL*/

/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);

 fontawesome
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/

/*GLOBAL AND HIGH LEVEL*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url('../img/black-links.jpg');
    font-family: 'Risque', cursive;
}

img, embed, object, video {
    max-width: 100%;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1, h2, #social-strip {
    color:  #663399;
    text-shadow: -1px 0 #87CEEB, 0 1px #87CEEB, 1px 0 #87CEEB, 0 -1px #87CEEB;
}

#main {
    text-align: center;
    /*margin: auto;*/
}

#hero-image {
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

/*HEADER*/
header {
    height: 7vh;
    text-align: right;
    background-color: #D84B2D;
    background-image: url('../img/orange-backg.jpeg');
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
}

/*BIO*/
#bio {
    text-align: center;
}

/*SOCIAL*/
.social-icons {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.social-icons li {
    display: inline-block;
    color:  #663399;
    margin-right:2%;
    font-size:2.0em;
    font-weight:bold;
}


/*FOOTER*/

/*#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-image: url('../img/orange-backg.jpeg');
    border-top: solid;
    border-width: 1px;
    border-color: gray;
    height: 120px;
}*/

